
html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}


  img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 35%;
    height: 100%;
  }


img {
        max-width: 50%;  
        height: 100%;  
    }
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }